apscheduler
beautifulsoup4
dadata
dateparser
email-validator
flask
flask-caching
flask-compress
flask-dance
flask-limiter
flask-login
flask-sqlalchemy
flask-talisman
flask-wtf
gunicorn
httpx
lxml
numpy
oauthlib
openai
openpyxl
pandas
pillow
playwright
psycopg2-binary
pydantic
pyjwt
python-telegram-bot[http2,socks]==20.7
pytz
pywebpush
qrcode
reportlab
requests
requests-oauthlib
rich
schedule
sendgrid
sqlalchemy
telethon
tqdm
weasyprint>=60.0
werkzeug
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
scripts
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
apscheduler
beautifulsoup4
dadata
dateparser
email-validator
flask
flask-caching
flask-compress
flask-dance
flask-limiter
flask-login
flask-sqlalchemy
flask-talisman
flask-wtf
gunicorn
httpx
lxml
numpy
oauthlib
openai
openpyxl
pandas
pillow
psycopg2-binary
pydantic
pyjwt
python-telegram-bot
pytz
pywebpush
qrcode
reportlab
requests
requests-oauthlib
rich
schedule
sendgrid
sqlalchemy
telethon
tqdm
weasyprint
werkzeug
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
apscheduler
beautifulsoup4
dadata
dateparser
email-validator
flask
flask-caching
flask-compress
flask-dance
flask-limiter
flask-login
flask-sqlalchemy
flask-talisman
flask-wtf
gunicorn
httpx
lxml
numpy
oauthlib
openai
openpyxl
pandas
pillow
psycopg2-binary
pydantic
pyjwt
python-telegram-bot[http2,socks]==20.7
pytz
pywebpush
qrcode
reportlab
requests
requests-oauthlib
rich
schedule
sendgrid
sqlalchemy
telethon
tqdm
werkzeug
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
apscheduler
beautifulsoup4
dadata
dateparser
email-validator
flask
flask-caching
flask-compress
flask-dance
flask-limiter
flask-login
flask-sqlalchemy
flask-talisman
flask-wtf
gunicorn
httpx
lxml
numpy
oauthlib
openai
openpyxl
pandas
pillow
psycopg2-binary
pydantic
pyjwt
pytz
pywebpush
qrcode
reportlab
requests
requests-oauthlib
rich
schedule
sendgrid
sqlalchemy
telethon
tqdm
weasyprint
werkzeug
email_validator
flask
flask-sqlalchemy
gunicorn
psycopg2-binary
